body {
  background-image: url(fondo.jpg)  ;
  height: 100vh; /* Opcional: mantener height si se desea que el gradiente termine en el viewport */
  background-attachment: fixed; /* Fija el fondo en su posición */
  margin: 0;

}

.titulo{
  text-align: center;         /* Alineación centrada */
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Arial', sans-serif; /* Fuente limpia y moderna */
  letter-spacing: 2px;        /* Espaciado entre letras */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Sombra de texto suave */
}

.container {
  background-size: cover; /* Ajusta la imagen para que cubra todo el div */
  display: flex;
  flex-direction: row;
  gap: 20px; /* Espacio entre los elementos */
  font-family: Arial, sans-serif;
  max-width: 1500px;
  margin: 40px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 0px;
}

.container label {
  display: block; /* Mostrar como bloque */
  margin-bottom: 5px; /* Espacio inferior */
}

.boxSeleccionImagen {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boxCambioImagen {
  
  margin-bottom: 20px;
  flex: 1; /* Optional: Ensures that all boxes take equal space */
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #4A90E2;
  color: #fff;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

/* Zona para subir archivos arrastrándolos */
.drop-zone {
  margin-top: 20px;
  width: 300px;
  height: 150px;
  border: 2px dashed #4A90E2;
  border-radius: 5px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  color: #4A90E2;
  font-family: 'Arial', sans-serif;
  text-align: center;
}

.drop-zone.dragover {
  background-color: #e6f7ff;
}

/* Caja para seleccionar archivo */
.custom-file-upload {
  display: inline-block;
  background-color: rgb(97, 68, 132);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 240px;
  height: 20px;
  margin: 0px auto;
  margin-top: 20px;
}

.custom-file-upload:hover {
  background-color: rgb(55, 42, 70);
}

#file-upload {
  display: none;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-container label {
  margin-right: 10px;
}

.input-container input {
  width: 100px; 
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
}

.submit-button {
  background-color: rgb(120, 47, 255); 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color:#450061; 
}

button {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all .6s ease;
}

button:hover {
  box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

button:focus, button:active {
  opacity: .85;
  box-shadow: none;
}

button svg {
  width: 1.25rem;
  height: 1.25rem;
}

.previsualizaciones {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-family: Arial, sans-serif;
  max-width: 1500px;
  margin: 100px auto;
  padding: 50px;
  border-radius: 8px;
}

.box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  max-width: 100%;
  max-height: 100%;
  margin-right: 10px;
  overflow: hidden;
}

#formato {
  width: 100px;
  height: 30px;
  padding: 5px; 
  font-size: 16px; 
  border: 2px solid; 
  border-radius: 5px; 
  cursor: pointer; /* cursor al pasar sobre el select */
  margin-bottom: 5px;
}

.boxData {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
}

.selectImage{
  padding-left: 100px;
  padding-right: 100px;
}


.imgOne{
  margin: 10px;
}

.imgTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Centra el contenido dentro del div */
}

.imgTwo h3{
  margin: 10px;
  margin-top: 40px;
}

#download {
  background-color: #0fdf20;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700px;
  display: inline-block; /* Asegura que el botón se alinee correctamente */
  margin-bottom: 10px;
}

#download:hover {
  background-color: #076e10;
}

/*Boton */
.Download-button {
  display:s flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 12px 20px;
  color: white;
  background: rgb(103, 92, 156);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgba(59, 48, 78, 0.527);
  letter-spacing: 0.05em;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
}

.Download-button svg {
  margin-right: 8px;
  width: 25px;
}

.Download-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgba(88, 71, 116, 0.627);
}

.Download-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgba(88, 71, 116, 0.627);
}

.Download-button::before {
  content: "";
  width: 4px;
  height: 40%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  left: 0;
  transition: all 0.2s;
}

.Download-button::after {
  content: "";
  width: 4px;
  height: 40%;
  background-color: rgb(255, 255, 255);
  position: absolute;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  right: 0;
  transition: all 0.2s;
}

.Download-button:hover::before,
.Download-button:hover::after {
  height: 60%;
}

.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  margin-top: 10px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgb(120, 47, 255) 0%, rgb(185, 132, 255) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em rgb(184, 146, 255);
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  transition: all 0.3s ease;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
  height: 1em;
}

.cssbuttons-io-button:hover {
  box-shadow: 0 0.5em 1.5em -0.5em rgb(149, 91, 255);
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em rgb(160, 109, 255);
}

